<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="VAlaunchTest" enabled= "false">
	<parameter name="url" value="https://virtualagent.hpcloud.hp.com/" />
	<parameter name="intent" value="computer is slow"/>
	<classes>
		<class name="com.mavenpractice.launchVApage">			
			<methods>
				<include name="Vapage"/>
				<include name="Textarea"/>
			</methods>
		</class>
	</classes>
  </test> <!-- Test -->
   <test name="Radio buttons test" enabled= "false">
	<parameter name="url" value="https://virtualagent.hpcloud.hp.com/" />
	<classes>
		<class name="com.mavenpractice.radioButtons">			
			<methods>
				<include name="Vapage"/>
				<include name="feedbackhighrating"/>
			</methods>
		</class>
	</classes>
  </test> <!-- Test -->
   <test name="windows handles" enabled= "true">
	<parameter name="url" value="https://virtualagent.hpcloud.hp.com/" />
	<classes>
		<class name="com.mavenpractice.windowsHandles">			
			<methods>
				<include name="Vapage"/>
				<include name="privacylinkStatement"/>
			</methods>
		</class>
	</classes>
  </test>
</suite> <!-- Suite -->

